@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: linear-gradient(180deg, #ffffff 0%, #f8fafc 60%, #eef2ff 100%);
}

.container-xl {
  @apply max-w-7xl mx-auto px-6 sm:px-8;
}

.btn-primary {
  @apply inline-flex items-center justify-center rounded-md bg-brand-600 text-white px-5 py-3 font-medium shadow-soft hover:bg-brand-700 transition;
}

.btn-secondary {
  @apply inline-flex items-center justify-center rounded-md border border-slate-300 bg-white text-slate-900 px-5 py-3 font-medium hover:bg-slate-50 transition;
}
